{% extends '../base.html' %}
{% load static %}

{% block title %}
<title>Change Password</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/sign-in-up.css' %}">
{% endblock css %}

{% block main %}


<div class="sign-in-up-container">
  <form method="POST">
    <h2>Change Password</h2>

    {% if form.errors %}
    <div class="alert alrt-danger">
      <strong>{{form.errors}}</strong>
    </div>
    {% endif %}

    {% csrf_token %}
    <input type="password" name="old_password" placeholder="Old password *" required maxlength="128">
    <input type="password" name="new_password" placeholder="New Password *" required maxlength="128">
    <input type="password" name="confirm_new_password" placeholder="Confirm new password *" required maxlength="128">
    <button type="submit">Save New Password</button>

  </form>
</div>

{% endblock main %}