{% extends '../base.html' %}
{% load static %}

{% block title %}
<title>Signup</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/sign-in-up.css' %}">
{% endblock css %}

{% block main %}

<div class="sign-in-up-container">
  <form action="" method="POST">
    <h2>Create an Account</h2>

    {% if form.errors %}
    <div class="alert alrt-danger">
      <strong>{{form.errors}}</strong>
    </div>
    {% endif %}

    {% csrf_token %}
    {{form.username}}
    {{form.email}}
    {{form.password1}}
    {{form.password2}}

    <button type="submit">Register</button>
  </form>
</div>

{% endblock main %}